rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidId(id) { 
      return id is string && id.size() <= 200; 
    }

    match /users/{email} {
      allow create, update, write: if isValidId(email);
      allow get, list: if true;
    }

    match /orders/{orderId} {
      allow create, update, write, read, get, list: if true;
    }

    match /order_verify_logs/{logId} {
      allow create, update, write, read, get, list: if true;
    }

    match /garena_checkout_orders/{orderId} {
      allow create, update, write, read, get, list: if true;
    }
  }
}
